

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  max-width: 100%;
  border-bottom: 1px solid rgb(128, 128, 128, 0.3);  
}

.nav-bar a {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
}

/*Logo*/
.logo-imagem {
  width: 8rem;
}

.busca {
  display: flex;
  align-items: center;
  border: 1px solid;
  padding: 0.6rem;
  border-radius: 45px;
  color: rgb(128, 128, 128, 0.3);
}

.busca ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lupa {
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0.4rem;
  background-color: #FF385C;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#barra{
  border-right: 1px solid rgb(128, 128, 128, 0.3);
  padding-right: 10px;
}

.nav-item {
  margin: 0 0.75rem;
}


.nav-item3 {
  padding: 0.75rem;
}

.nav-item3:hover{
  padding: 0.75rem;
  background-color: rgb(128, 128, 128, 0.1);
  border: scale(2) solid transparent;
  border-radius: 50px;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto";
}

#sombra{
  padding: 0.75rem;
}
#sombra:hover{
  padding: 0.75rem;
  background-color: rgb(128, 128, 128, 0.1);
  border: scale(2) solid transparent;
  border-radius: 50px;
}

.menu button {
  margin: 0 10px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border: 1px solid rgb(128, 128, 128, 0.3);
  border-radius: 50px;
  padding: 0.4rem;
  background-color: white;
}

.botao-menu {
  margin: 0 5px;
}

.retrato {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border-radius: 50%;
}

.nav-bar a:hover {
  opacity: 0.7;
}


@media screen and (max-width: 850px) {
  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .nav-item {
    display: none;
  }
}