@import url(header.css);
@import url(nav-bar.css);
@import url(global.css);
@import url(titulo.css);
@import url(footer.css);
@import url(galeria.css);
@import url(secao.css);
@import url(secao2.css);
@import url(secao3.css);
@import url(descricao.css);
@import url(icones.css);
@import url(avaliacoes.css);
@import url(regras.css);
@import url(footer.css);
@import url(slider.css);